.App {
  text-align: center;
}

.App-header {
  background-color: #f0f2f5;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #d9d9d9;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
